absl-py==2.1.0
addict==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
autograd==1.7.0
backcall==0.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.5.0
cchardet==2.1.7
chardet==5.2.0
chumpy==0.70
click==8.1.7
cloudpickle==3.1.0
coloredlogs==15.0.1
comm==0.2.2
ConfigArgParse==1.7
configer==1.3.1
configparser==7.1.0
contourpy==1.1.1
cycler==0.12.1
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
dill==0.3.9
docker-pycreds==0.4.0
easydict==1.13
etils==1.3.0
evdev==1.7.1
executing==2.1.0
Farama-Notifications==0.0.4
fastjsonschema==2.20.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
freetype-py==2.5.1
frozenlist==1.4.1
fsspec==2024.9.0
fvcore==0.1.5.post20221221
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
glfw==2.7.0
google-auth==2.35.0
google-auth-oauthlib==1.0.0
grpcio==1.66.2
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
human_body_prior==0.8.5.0
humanfriendly==10.0
hydra-core==1.3.2
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib-resources==3.0.0
importlib_metadata==8.5.0
iopath==0.1.10
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.1.5
-e git+https://github.com/Ke-Wang1017/expressive_humanoid.git@58d1050a2b9206ac7b1eb3ab2860dbff5cb832b8#egg=isaacgym&subdirectory=isaacgym/python
itsdangerous==2.2.0
jedi==0.19.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
-e git+https://github.com/LeCAR-Lab/human2humanoid.git@a1ee1941ce663243f1864f5de4f77378d47cd4b5#egg=legged_gym&subdirectory=legged_gym
lightning-utilities==0.11.7
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.6.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapy==1.2.2
mjcf2urdf==0.0.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
msgpack==1.1.0
mujoco==3.2.3
multidict==6.1.0
nbformat==5.10.4
nest-asyncio==1.6.0
ninja==1.11.1.1
numpy==1.23.0
numpy-stl==3.1.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.1
onnxruntime==1.13.1
open3d==0.18.0
opencv-python==4.6.0.66
packaging==24.1
pandas==2.0.3
parso==0.8.4
patchelf==0.17.2.1
pexpect==4.9.0
-e git+https://github.com/LeCAR-Lab/human2humanoid.git@a1ee1941ce663243f1864f5de4f77378d47cd4b5#egg=phc&subdirectory=phc
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==5.24.1
portalocker==2.10.1
-e git+https://github.com/LeCAR-Lab/human2humanoid.git@a1ee1941ce663243f1864f5de4f77378d47cd4b5#egg=poselib&subdirectory=poselib
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybullet==3.2.6
pydelatin==0.2.8
pyfqmr==0.2.1
pyglet==2.0.18
Pygments==2.18.0
pynput==1.7.7
PyOpenGL==3.1.0
pyparsing==3.1.4
pyquaternion==0.9.9
pyrender==0.1.45
python-dateutil==2.9.0.post0
python-utils==3.8.2
python-xlib==0.33
pytorch-lightning==2.4.0
pytorch3d==0.3.0
pytz==2024.2
PyVirtualDisplay==3.0
PyWavelets==1.4.1
ray==2.10.0
referencing==0.35.1
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.9.2
rl-games==1.1.4
rpds-py==0.20.0
rsa==4.9
-e git+https://github.com/LeCAR-Lab/human2humanoid.git@a1ee1941ce663243f1864f5de4f77378d47cd4b5#egg=rsl_rl&subdirectory=rsl_rl
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
sentry-sdk==2.16.0
setproctitle==1.3.3
smmap==5.0.1
smpl_sim @ git+https://github.com/ZhengyiLuo/SMPLSim.git@3bcc506d92bf15329b2d68efcf429725b67f3a06
smplx @ git+https://github.com/ZhengyiLuo/smplx.git@a5b8e4ac14f79f3f33fd2cf2a16e6f507146b813
soupsieve==2.6
stack-data==0.6.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
tiff==2023.7.10
tomli==2.0.2
torch==2.4.0
torchaudio==0.10.0+cu113
torchgeometry==0.1.2
torchmetrics==1.4.3
torchvision==0.19.0
tqdm==4.66.5
traitlets==5.14.3
transforms3d==0.4.2
trimesh==4.4.9
triton==3.0.0
tzdata==2024.2
vtk==9.3.1
wandb==0.18.3
wcwidth==0.2.13
Werkzeug==3.0.4
widgetsnbextension==4.0.13
yacs==0.1.8
yarl==1.15.1
zipp==3.20.2
